

body{
	margin: 0 auto;
	height: 100%;
	background: black;
	background: linear-gradient(black,darkblue);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


header{
	color:darkblue;
	text-align:center;
	font-size:100px;
	height: 200px;
	padding:14px 16px;
}

.topnav {
    position: absolute;
    top: 220px;
    left: 30%;
}
.topnav a{
	float: left;
	display: block;
	color: darkblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:20px;
}
.topnav a:hover{
	color:blue;
    font-weight: bold;
}

.topnav a:active{
	color:cyan;
}

.container{
	margin:0 auto;
	padding: 50px;
}

h1{
    color: blue;
    border: 2px;
    border-color: black;
}

h2{
    color: blue;
    font-style: italic;
}
h3{
    color: blue;
    font-style: italic;
}

#contact{
    padding: 0;
    position: relative;
    top: 10px;
    left: 45%;
}

#social_sites{
    padding: 0;
    position: relative;
    top: 10px;
    left: 45%;
}

